.calendar-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    position: relative;
    width: 100vw;
    max-width: 768px;
    height: auto;
    padding: 20px;
}

.calendar-month {
    line-height: 1.4rem;
    text-align: center;
    color: #333333;
    font-size: 1.1rem;
}

.calendar-days-wrapper {
    padding-top: 20px;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
    align-content: center;
    gap: 5px 5px;
    
}

.calendar-week {
    text-align: center;
    padding: 5px;
}

.calendar-day {
    text-align: center;
    padding: 8px;
}

.d-day {
    border-radius: 50%;
    background-color: #eee4f8;
    font-weight: bold;
}

@media (min-width:768px) {
    .calendar-days-wrapper {
        padding-top: 20px;
        width: 45%;
    }
    .calendar-day {
        padding: 13px;
    }

    .d-day {
        border-radius: 50%;
        background-color: #eee4f8;
        font-weight: bold;
    }
}

@media (min-width:1024px) {
    .calendar-days-wrapper {
        padding-top: 20px;
        width: 45%;
    }
    .calendar-day {
        padding: 13px;
    }

    .d-day {
        border-radius: 50%;
        background-color: #eee4f8;
        font-weight: bold;
    }
}