.calendar-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    position: relative;
    width: 100vw;
    height: auto;
    padding: 20px;
}

.calendar-month {
    line-height: 1.4rem;
    text-align: center;
}

.calendar-days-wrapper {
    padding-top: 20px;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
    align-content: center;
    gap: 5px 5px;
    
}

.calendar-week {
    text-align: center;
    padding: 5px;
    /* border: 2px solid #aaa; */
}

.calendar-day {
    text-align: center;
    padding: 5px;
        /* border: 2px solid #aaa; */
}