  /* 기본 변수 선언 */
  .contact-button {

      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      
      border: none;
      border-radius: 4px;
      
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
      cursor: pointer;
      
      text-align: center;
      text-decoration: none;

      transition: 0.5s;
   }
   
  .contact-button:active,
  .contact-button:hover,
  .contact-button:focus {
    outline: 0;
  }
  .contact-button:disabled {
    opacity: 0.5;
  } 
  
  /* 콘텐츠 */
  .contacts {
    margin-top: 50px;
    width: 100vw;
    max-width: 768px;
    height: 100vh;
    height: -webkit-fill-available;
    height: fill-available;
    margin-bottom: 50px;

    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .contacs-flower {
    margin-top: 30px;
    width: 70px;
  }
  
  .contacts-title {
    font-size:25px;
    margin-top: 30px;
    margin-bottom: 10px;
    letter-spacing: 0.2em;
    /* 배경 그라데이션 히든 처리 */
    background: linear-gradient(to right top, #673ab7, #512da8);
    color: transparent;
    -webkit-background-clip: text;
    font-weight: bold;
    /* 텍스트 그림자 */
    text-shadow: 2px 2px 25px#673ab7;
  }
  
  .contact {
      width:100%;
      display:flex;
      flex-direction:column;
      margin-top: 30px;
  }
  
  .contact_show {
      margin:20px auto;
      width: 200px;
      height: 50px;
      border-radius: 10px;
  }

  .contact_show {
    width: 150px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    /* background-color: rgba(103, 58, 183, 60%); */
    box-shadow: 2px 2px 2px #673ab7;
  }
  .contact_show:active,
  .contact_show:hover,
  .contact_show:focus {
    background: rgba(103, 58, 183, 60%);
  }

  .acc_none {
    display: none;
  }

  .accs {
    display: flex;
    flex-direction:column;
    align-items: center;
  }

  /* .contacts-thanks {
    width: 100%;

    margin-top: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .contacts-thanks-message {
   margin-top: 30px; 
   font-size:30px;
   margin-bottom: 10px;
   letter-spacing: 0.4em;
   color: #8e8e8e;
   
  } */