/* 기본 변수 선언 */
:root {
    --button-color: #ffffff;
    --button-bg-color: #0d6efd;
    --button-hover-bg-color: #025ce2;
  }
  
  /* 기본 버튼 설정 */
  .contact-button {
   
      background: var(--button-bg-color);
      color: var(--button-color);

      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      
      border: none;
      border-radius: 4px;
      
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
      cursor: pointer;
      
      text-align: center;
      text-decoration: none;

      transition: 0.5s;
   }
   
  .contact-button:active,
  .contact-button:hover,
  .contact-button:focus {
    background: var(--button-hover-bg-color);
    outline: 0;
  }
  .contact-button:disabled {
    opacity: 0.5;
  }
  
  /* 콘텐츠 */
  .contacts {
    width: 100vw;
    max-width: 768px;
    height: 100vh;
    height: -webkit-fill-available;
    height: fill-available;

    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .contacs-flower {
    margin-top: 30px;
    width: 80px;
  }
  
  .contacts-title {
    font-size:25px;
    margin-top: 30px;
    margin-bottom: 10px;
    letter-spacing: 0.2em;
    /* 배경 그라데이션 히든 처리 */
    background: linear-gradient(to right top, #673ab7, #512da8);
    color: transparent;
    -webkit-background-clip: text;
    font-weight: bold;
    /* 텍스트 그림자 */
    text-shadow: 2px 2px 25px#673ab7;
  }

  .contacts p {
      text-align:center;
  }
  
  .contact {
      width:100%;
      display:flex;
      flex-direction:column;
      margin: auto;
  }
  
  .contact_show {
      margin:20px auto;
      width: 200px;
      height: 50px;
      border-radius: 10px;
  }

  .acc_none {
    display: none;
  }
              
  .acc {	
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin:  auto;
      height: 55px;
      padding: 5px 20px;
  }

  .acc p {
    text-align: left;
  }

  .acc button {
    
    height: 40px;
  }