
  /* 콘텐츠 */
  .contacts {
    padding-top: 30px;
    width: 100vw;
    max-width: 768px;
    /* margin-bottom: 50px; */

    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;

    position: relative;
    background-color: #fafafa;
    z-index: 10;
  }

  .contacs-flower {
    padding-top: 30px;
    width: 70px;
  }
  
  .contacts-title {
    font-size:25px;
    padding-bottom: 10px;
    letter-spacing: 0.2em;
    /* 배경 그라데이션 히든 처리 
    background: linear-gradient(to right top, #673ab7, #512da8);
    color: transparent;
    -webkit-background-clip: text;*/
    font-weight: bold;
    /* 텍스트 그림자
    text-shadow: 2px 2px 25px#673ab7; */
  }
  
  .contact {
      width:100%;
      display:flex;
      align-items: center;
      flex-direction:column;
      padding-top: 30px;
  }

  .acc_none {
    display: none;
  }

  .accs {
    width: 100%;
    display: flex;
    flex-direction:column;
    align-items: center;
  }

  .contact_woman {
    padding-bottom: 30px;
  }

  .contact_button {
    width: 90%;
    max-width: 500px;
    height: 50px;
    background-color: #d0b9e7;
    border-radius: 5px;
    color: white;
    font-size: medium;
    border:none;
  }

  .contact_button:active,
  .contact_button:hover,
  .contact_button:focus {
    outline: 0;
  }

  .contacts-thanks {
    width: 100%;
    padding-bottom: 16px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .img-line {
    width: 50%;
  }

  .contacts-thanks-message {
   padding-bottom: 16px; 
   font-size:16px;
   letter-spacing: 0.4em;
   color: #8e8e8e;
  }