.greeting {
    width: 100vw;
    height: 500px;
    text-align: center;
}

.greeting-title {
  font-size:40px;
  background: linear-gradient(to right top, #4776e6, #8e54e9);
  color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
}

.greeting-message {
  padding-top: 20px;
  text-align: center;
  font-size: 17px;
}

.greeting-family {
  padding-top: 30px;
  text-align: center;
  font-size: 17px;
}