.greeting {
    width: 100vw;
    max-width: 768px;
    
    height: 500px;
    /* height: 100vh;
    height: -webkit-fill-available;
    height: fill-available; */

    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* .greeting-outline {
  position: absolute;
  width: calc(100% - 20px);
  height: 100%;
  margin: 10px;
  box-sizing: border-box;
  border: 1px solid #8e54e9;
  border-image: linear-gradient(to right top, #4776e6, #8e54e9);
  border-image-slice: 1;
  box-shadow: 0 0 0 7px rgb(142 84 233/4%);
} */

.greeting-flower {
  width: 60px;
  /* position: absolute;
  z-index: -1;
  left: 50%;
  transform: translate(-50%, -20%);
  border-radius: 50%; */
}

.greeting-title {
  font-size:25px;
  margin-top: 10px;
  letter-spacing: 0.2em;
  /* 배경 그라데이션 히든 처리 */
  background: linear-gradient(to right top, #4776e6, #8e54e9);
  color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
  /* 텍스트 그림자 */
  text-shadow: 2px 2px 20px#8e54e9;
}

.greeting-message {
  padding-top: 10px;
  padding-bottom: 30px;
  line-height: 1.3rem;
  text-align: center;

  /* 텍스트 그림자 #6601FF */
  text-shadow: 2px 2px 25px#8e54e9; 
  
}

.greeting-family {
  width: 80%;
  font-size: 17px;
  
  border-top: 1px solid #8e54e9;
  border-bottom: 1px solid #8e54e9;
} 

/* .greeting-calendar {
  margin-top: 30px;
  max-width: 768px;
} */

@media (min-width:768px)  {
  .greeting-flower {
    width: 70px;
  }

  .greeting-title {
    font-size:30px;
    margin-top: 18px;
  }

  .greeting-message {
    font-size:18px;
    padding-top: 15px;
    padding-bottom: 50px;
  }

  .greeting-family {
    margin: 0 20px;
    font-size: 20px;
  } 

}

@media (min-width:1024px) {
  .greeting-flower {
    width: 80px;
  }

  .greeting-title {
    font-size:30px;
    margin-top: 18px;
  }

  .greeting-message {
    font-size:18px;
    padding-top: 15px;
    padding-bottom: 50px;
  }

  .greeting-family {
    margin: 0 20px;
    font-size: 20px;
  } 
}