.intro {
    width: 100vw;
    height: 600px;
    /* height: calc(var(--vh, 1vh) * 100);
    height: -webkit-fill-available;
    height: fill-available; */
    /* overflow: hidden; */
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    position: relative;
    z-index: 10;
  }

/* .intro-image {
  background-size: contain;
}

.intro-bg-first{
  width: 100%;
  max-width: 768px;
  max-height: 60%;
  height: -webkit-fill-available;
  height: fill-available;
  height: calc(var(--vh, 1vh) * 60);
  position: relative
}

.intro-bg-second {
  width: 100%;
  height: 100%;
  position: relative
}

.intro-bg-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */

  /* .intro-image {
      width: 100%;
      max-width: 768px;
      max-height: 60%;
      height: -webkit-fill-available;
      height: fill-available;
      height: calc(var(--vh, 1vh) * 60);
      top: 0px;
		  left: 0px;
		  position: sticky;
		  position: -webkit-sticky;
		  z-index: 1;
		  background-position: center center;
      object-fit: cover;
  } */

  .intro-names {
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
  }
  .name {
    font-size: 25px;
    letter-spacing: 0.4em;
    font-weight: bold;
    color: #333333;
    padding-left: 5px;
  }
  .and-image {
    margin: 0 10px;
    width: 20px;
  }
  .intro-contents {
    padding-top: 20px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .intro-contents p {
    margin: 5px 0;
    color: #555555;
  }

  @media (min-width:768px) {
    /* .intro-bg-first{
      max-height: 70%;
      height: -webkit-fill-available;
      height: fill-available;
      height: calc(var(--vh, 1vh) * 70);
    } */
    /* .intro-image {
      width: auto; 
      background-size: contain;
      object-fit: contain;
    } */

    .intro {
      height: 700px;
    }
    .intro-names {
      padding-top: 50px;
    }
    .name {
      font-size: 33px;
      padding-left: 10px;
    }
    .and-image {
      width: 26px;
    }
    .intro-contents {
      padding-top: 10px;
      padding-bottom: 75px;
    }
    .intro-contents p {
      font-size: 20px;
      margin: 10px 0;
    }
  }

  @media (min-width:1024px) {
    /* .intro-bg-first{
      max-height: 70%;
      height: -webkit-fill-available;
      height: fill-available;
      height: calc(var(--vh, 1vh) * 70);
    }
    .intro-image {
      background-size: contain;
    } */
    /* .intro-image {
      max-height: calc(var(--vh, 1vh) * 70);
      height: calc(var(--vh, 1vh) * 70);
      background-size: cover;
      height: -webkit-fill-available;
      height: fill-available;
      object-fit: contain; 
    } */
    .intro {
      height: 700px;
    }

    .intro-names {
      padding-top: 40px;
    }
    .name {
      font-size: 38px;
    }
    .and-image {
      width: 33px;
    }
    .intro-contents {
      padding-top: 15px;
      padding-bottom: 100px;
    }
    .intro-contents p {
      font-size: 23px;
      margin: 10px 0;
    }
  }


