.intro-img-wrapper{
  width: 100%;
  max-width: 768px;
  max-height: 60%;
  height: -webkit-fill-available;
  height: fill-available;
  height: calc(var(--vh, 1vh) * 60);
  top: 0px;
  left: 0px;
  position: sticky;
  position: -webkit-sticky;
  z-index: 1;
}

.intro-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-position: center center;
}

/* .intro::before {
    content: "";
    opacity: 0.5;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #000;
}
.intro-contents {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  position: absolute;
  text-align: center;
  margin-top: 50px;
  font-size: 20px;
  color: #fff;
}
.intro-contents h1{
  margin-bottom:80px;
}

.intro-fadeBottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 7.4rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
} */