
.location {
    width: 100vw;
    max-width: 768px;
    height: 100vh;
    height: -webkit-fill-available;
    height: fill-available;

    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .location-flower {
    width: 70px;
  }
  
  .location-title {
    font-size:25px;
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: 0.2em;
    /* 배경 그라데이션 히든 처리 */
    background: linear-gradient(to right top, #41295a, #2f0743);
    color: transparent;
    -webkit-background-clip: text;
    font-weight: bold;
    /* 텍스트 그림자 */
    text-shadow: 2px 2px 20px#41295a;
  }

  .location-adress {
    padding-top: 0px;
    padding-bottom: 10px;
    text-align: center;
  
    /* 텍스트 그림자 #6601FF */
    text-shadow: 2px 2px 25px#41295a; 
  }

  .location_map {
    width: 80%;
    max-width: 600px;
    height: 300px;
    margin: auto;
  }

  .location_apps {
    width: 300px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin:0 auto;
    height: 100px;
  }

  .location_app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 1px solid #8e54e9;
    border-radius: 50%;
    border-image: linear-gradient(to right top, #4776e6, #8e54e9);
    border-image-slice: 1;
    box-shadow: 0 0 0 7px rgb(142 84 233/4%);
  }
  .location_app img{
    width: 40px;
    height: 40px;
    margin:auto;

  }
  .location_app p{
    text-align: center;
    font-size: 12px;
  }

  .location_come {
    display: flex;
    margin-left: 10px;
    align-items: center;
  }
  .location_come img{
    width: 30px;
    height: 30px;
  }
  .location_come p {
    padding-left: 10px;
    text-align: left;
  }