
.location {
    margin-top: 50px;
    
    width: 100vw;
    max-width: 768px;
    height: 100vh;
    height: -webkit-fill-available;
    height: fill-available;

    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .location-flower {
    width: 70px;
  }
  
  .location-title {
    font-size:25px;
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: 0.2em;
    /* 배경 그라데이션 히든 처리 
    background: linear-gradient(to right top, #41295a, #2f0743);
    color: transparent;
    -webkit-background-clip: text;*/
    font-weight: bold;
    /* 텍스트 그림자
    text-shadow: 2px 2px 20px#41295a; */
  }

  .location-adress {
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
  
    /* 텍스트 그림자 #6601FF
    text-shadow: 2px 2px 20px#624284;  */
  }

  .location_map {
    width: 80%;
    max-width: 600px;
    height: 250px;
    margin: auto;
  }

  .location_apps {
    width: 300px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin:0 auto;
    height: 100px;
  }

  .location_app {
    width: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #624284;
  }
  .location_app:active,
  .location_app:hover,
  .location_app:focus {
    background: rgba(128, 112, 146, 60%);
    outline: 0;
  }

  .location_app img{
    width: 35px;
    height: 35px;
    margin:auto;
  }
  .location_app p{
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 0px;
  }

  .location_comes {
    margin-top: 20px;
  }

  @media (min-width:768px) {
    .location_apps {
      width: 500px;
    }
    .location-adress {
      font-size: medium;
    }
    .location_map {
      height: 350px;
    }
    .location_app {
      width: 65px;
    }
    .location_app img{
      width: 35px;
      height: 35px;
    }
    .location_app p{
      font-size: 13px;
    }

    .location_comes {
      margin-top: 30px;
    }
    
  }
  @media (min-width:1024px) {
    .location_apps {
      width: 500px;
    }
    .location-adress {
      font-size: 16px;
    }
    .location_map {
      height: 380px;
    }
    .location_app {
      width: 70px;
    }
    .location_app img{
      width: 40px;
      height: 40px;
    }
    .location_app p{
      font-size: 14px;
    }

    .location_comes {
      margin-top: 35px;
    }
  }