.App {
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin: auto;
    background-color: white;
}

.invitation {
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin: auto;
    background-color: white;
}

.intro-wrapper{
    max-width: 1024px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin: auto;
    background-color: white;
}